/* Define custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Smooth scrolling behavior for the HTML element */
html {
    scroll-behavior: smooth;
}

/* Set text color and font family for the body */
body {
    color: var(--text-color);
    font-family: var(--font-family-base);
}

/* Set text color for anchor elements */
a {
    color: var(--text-color);
}

/* Set font family for heading elements */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}

/* Hide visually hidden elements */
.visually-hidden {
    display: none;
}

/* Set color for elements with class card-category */
.card-category {
    color: var(--color-primary);
}

/* Set color for elements with class section-tagline */
.section-tagline {
    color: var(--color-primary);
}
